<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="Snapper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <Snapper.Properties.Settings>
            <setting name="ScreenShotsDirectory" serializeAs="String">
                <value>c:\TimSnapper</value>
            </setting>
            <setting name="ScreenShotsInterval" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="ScreenShotsResolution" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="OnlyActiveScreen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AutoStart" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="FullScreen" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Screen" serializeAs="String">
                <value>Primary Screen</value>
            </setting>
        </Snapper.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2"/></startup></configuration>
